.title3 {
  position: relative;
  top: 1em;
}

@media screen and (max-width: 700px) {
  .title3 {
    flex-direction: column;
  }
}

.socialLinks {
  display: flex;
  padding-bottom: 2%;
  position: relative;
  justify-content: left;
}
@media screen and (max-width: 700px) {
  .wrapper {
    position: relative;
    justify-content: center;
    top: 1em;
  }
}

.socialLinks .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialLinks .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialLinks .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialLinks .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.socialLinks .icon:hover span,
.socialLinks .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.socialLinks .facebook:hover,
.socialLinks .facebook:hover .tooltip,
.socialLinks .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.socialLinks .instagram:hover,
.socialLinks .instagram:hover .tooltip,
.socialLinks .instagram:hover .tooltip::before {
  background-color: #e62867;
  color: #ffffff;
}

.socialLinks .youtube:hover,
.socialLinks .youtube:hover .tooltip,
.socialLinks .youtube:hover .tooltip::before {
  background-color: #c01307;
  color: #ffffff;
}
